* {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

#tip{
    position: absolute;
    display: flex;
    top: -100px;
    width: 100%;
    height: 100px;
    background-color: #333840;
    transition: all 1s;
    color: lightcyan;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}